header h1 {
  text-align: center;
  font-size: 64px;
  font-family: Helvetica, sans-serif;
  color: #333333;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 0px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 40px;
}

button {
  padding: 16px 32px;
}

.grid-container {
  display: grid;
  width: 560px;
  height: 560px;
  outline: 1px solid red;
  margin: 0 auto;
}

.grid-cell {
  box-sizing: border-box;
}

.grid-cell-active {
  background-color: blue;
}
