header h1 {
  text-align: center;
}
#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.controls {
  padding: 16px 0px;
  margin: 0 auto;
}

button {
  padding: 16px 32px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 900px;
  margin: 0 auto;
  outline: 1px solid red;
}

.grid-cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  box-sizing: border-box;
}

/*
.grid-cell:hover {
  background-color: blue;
}
*/
